<<<<<<< HEAD
=======
/* * {
    margin: 0;
    padding: 0;
    line-height: 30px;
}

body {
    margin: 10px;
}

#menu {
    border: 2px solid blue;
    padding: 10px;
}

a {
    text-decoration: none;
    margin-right: 5px;
}

span {
    font-weight: bold;
    padding: 3px;
}

h2 {
    margin: 10px 0;
} */
>>>>>>> 8209a7cb4b220c22b5028f5b166c7c77596d47d1
