.p {
    margin: 15px 0;
    background: red;
    display: flex;
    /* padding: 1px; */
    /* border: 1px solid green; */
}

.c {
    border: 1px solid blue;
    margin: 30px 0;
}

body {
    border: 1px solid black;
}