#demo {
    width: 100px;
    height: 200px;
    border: 1px solid red;
    margin: 50px;
    transform: scaleX(1.5);
    transform: scaleY(1.5);
    /* transform: skew(45deg, 15deg);
    transform: translate(100px, 50px) rotate(45deg) scale(2, 3); */
    /* transform: translate3d(10px, 20px, 30px) */
}

/* #demo:hover {
    transform: translateX(50px);
    xtransform: translateY(-50px);
    transform: translateZ(-200px);
}

.wrapper {
    perspective: 1000px;
    border: 1px solid black; */
}